#!/bin/sh

# Departure update frequency (milliseconds)
FETCH_INTERVAL_MS=15000

# Max time window to return
TIME_WINDOW_MINUTES=20

# Emojis: time to walk to stop
WALK_TIME_SECONDS=360

# Emojis: stretch time gained if rushing 
RUSH_SECONDS_GAINED=90

# Inject refresh interval in rendered HTML (milliseconds)
REFRESH_INTERVAL_MS=5000

#
# SL (Storstockholms Lokaltrafik, in Stockholm, Sweden)
#

# SL Stops and lines v2.0 Site ID (station/stop) to monitor
# https://api.sl.se/api2/linedata.json?key=<key>&model=site&DefaultTransportModeCode=METRO|BUS 
# Response from above needs to be searched to find site index, then site ID can be found like `.ResponseData.Result[1234].SiteId`
# TODO: Automate
SL_SITE_ID=1234

# SL: Filter to show certain direction
SL_JOURNEY_DIRECTION=1

#
# VT (Västtrafik, in Gothenburg, Sweden)
#

VT_CLIENT_ID=<client_id>
VT_CLIENT_SECRET=<client_secret>
VT_CLIENT_AUTH_KEY=<auth_key>
# VT_ACCESS_TOKEN=<access_token>
VT_STOP_AREA_GID=9021014004760000 # Marklandsgatan
